<%- include("partials/header.ejs") %>

<div class="sections">
    <div class="allCards">
        <div class="cards" id="toDo">
            <h1 id="heroLogo">List[it]</h1>
            <% if(locals.allTasks){%>
                <ol>
                    <% for(var i = 0 ; i < locals.allTasks.length ; i++){ %>
                         <li class="allTasks" id="<%= "task"+ i %>" onclick="clicked(this.id)"><%= locals.allTasks[i] %></li>
                    <% } %>
                </ol>
            <% } else{%>
                <p>Add a task</p>
                <% } %>
        </div>
        <div class="cards" id="doing">
            <h1>Doing</h1>
            <% if (locals.doingTasks) { %>
                <ol id="doingList">
                    <% for(var i = 0 ; i < locals.doingTasks.length ; i++){ %>
                        <li class="doingList" id="<%= "task"+ i %>" onclick="clicked(this.id)"><%= locals.doingTasks[i] %></li>
                   <% } %>
                </ol>
            <% } else{ %>
                <p>Do Something Dawg</p>
                <% } %>
        </div>
        <div class="cards" id="done">
            <h1>Done</h1>
            <% if (locals.doneTasks) { %>
                <ol id="doneList">
                    <% for(var i = 0 ; i < locals.doneTasks.length ; i++){ %>
                        <li class="doneList" id="<%= "Done"+ i %>" onclick="clicked(this.id)"><%= locals.doneTasks[i] %></li>
                   <% } %>
                </ol>
            <% } else{ %>
                <p>Looking kinda empty dawg</p>
                <% } %>
        </div>
    </div>
    <form action="/newTask" method="POST">
        <input type="text" name="task" placeholder="Add a Task" id="task">
        <button type="submit" value="submit" id="addButton">Add</button>
    </form>
</div>
<%- include("partials/footer.ejs") %>